Repository richardnpaul/panorama-tab-groups: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-illegal-windows-names
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-json
      - id: check-yaml

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        types_or: [javascript, json, css, html, markdown]
        exclude: |
          (?x)^(
            src/js/depends/dragscroll\.js|
            src/popup-view/.*|
            src/_shared/js/models/View\.js
          )$

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types: [file]
        files: \.(js|json)$
        exclude: |
          (?x)^(
            src/js/depends/dragscroll\.js|
            src/popup-view/.*|
            src/_shared/js/models/View\.js
          )$

Reimplement options page again
  playwright.config.js
  src/js/background.js
  src/js/background/menu-manager.js
  tests/integration.spec.js
  tests/user-journeys.spec.js
Due: prettier, eslint

Add some reliability and debugging. Fix high sev vuln deps
  .devcontainer/devcontainer.json
  TESTING.md
  package-lock.json
Due: prettier, eslint

Fixing up a lot of the e2e tests. Now all passing and working as expected
  playwright.config.js
  src/js/background.js
  src/js/polyfill.js
  src/js/view/groupNodes.js
  src/js/view/index.js
  src/js/view/tabNodes.js
  src/shared/js/models/View.js
  tests/extension.spec.js
  tests/integration.spec.js
  tests/options-navigation.spec.js
  tests/tab-groups-view.spec.js
  tests/user-journeys.spec.js
Due: prettier, eslint

Add another three user journeys
  docs/plans/test-plan.md
  tests/user-journeys.spec.js
Due: prettier, eslint

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/node.js.yml
Due: none

Reduce retention for playwright archive, warning rather than errors
  .github/workflows/e2e.yml
  src/js/options/native-groups.js
Due: prettier, eslint

Fixes for e2e timeout issues
  .github/workflows/e2e.yml
  package-lock.json
  package.json
Due: prettier, eslint

Check for correct class since change
  tests/extension.spec.js
Due: prettier, eslint

Shorter e2e workflow timeout
  .github/workflows/e2e.yml
Due: none

changes to devcontainer config
  .devcontainer/devcontainer.json
  .devcontainer/post-cmd.sh
Due: prettier, eslint

Fix pre-commit issue
  .devcontainer/devcontainer.json
Due: prettier, eslint

Add llm fixs docs
  docs/llm-fixes/chromium-view-tab-grouping.md
  docs/llm-fixes/playwright-e2e-test-fixes.md
Due: prettier

Change references to Panorama to Tab Groups
  tests/user-journeys.spec.js
Due: prettier, eslint

Fixes the issues with chromium icons and the extension view not working correctly
  tests/extension.spec.js
Due: prettier, eslint

Fix some accidental merge conflict inclusions from rebase
  tests/extension.spec.js
  tests/user-journeys.spec.js
Due: prettier, eslint

Fix for race condition in test which was causing flakiness
  src/js/view/index.js
Due: prettier, eslint

Purge cache mechanism and fix tests
  src/js/background/StateManager.js
  tests/state-manager.spec.js
  tests/user-journeys.spec.js
Due: prettier, eslint

Document changes made by llm to fix some issues
  docs/llm-fixes/e2e-race-conditions-and-state-cache.md
Due: prettier

Improve agents behaviour
  .github/agents/implementer.agent.md
  AGENTS.md
Due: prettier

Add a couple more e2e tests around multiple windows
  docs/plans/test-plan.md
  playwright.config.js
  src/js/view/groupNodes.js
  tests/user-journeys.spec.js
Due: prettier, eslint

Update agents for new unit tests approach
  .github/agents/implementer.agent.md
  AGENTS.md
Due: prettier

Add docs for new e2e test cases
  docs/plans/test-plan.md
Due: prettier

test: migrate unit tests to Jest and stabilize E2E test suite
  .eslintrc.js
  babel.config.js
  package-lock.json
  package.json
  playwright.config.js
  src/js/background.js
  src/js/view/index.js
  tests/unit/background.test.js
  tests/unit/setup.js
  tests/unit/state-manager.test.js
  tests/unit/utils.test.js
  tests/user-journeys.spec.js
Due: prettier, eslint
